@import '../../styles/_variables.scss';

.wrapper {
  height: 620px;
  width: 640px;
  margin: 122px auto 0;
}

.title {
  margin-bottom: 16px;
}

.order {
  margin: 0 auto;
  width: fit-content;
  margin-bottom: 24px;
}

.name {
  margin-bottom: 12px;
}

.status {
  color: #00cccc;
  margin-bottom: 60px;
}

.ingredients {
  height: 366px;
  overflow-y: auto;
  margin-bottom: 40px;

  & > div {
    width: 608px;
  }

  &::-webkit-scrollbar {
    width: 8px;
  }

  &::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px #2f2f37;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $dark_grey;
    outline: 1px solid $dark_grey;
  }
}

.info {
  display: flex;
  justify-content: space-between;
}

.time {
  color: $dark_grey;
}
