.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 1240px;
  margin: 0 auto;
  border: 2px solid #4c4cff;
}

.container {
  display: flex;
  justify-content: space-between;
}

.title {
  width: 600px;
  border: 1px dashed #4c4cff;
  border-right-color: #4c4cff;
  border-right-width: 2px;
  border-right-style: solid;
}
