.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 1240px;
}

.container {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}

.title {
  width: 600px;
}
