.wrapper {
  max-width: 1920px;
  min-width: 1240px;
  height: 88px;
  margin: 0 auto;

  background-color: #1c1c21;
  box-sizing: border-box;
}

.container {
  display: flex;
  align-items: center;
  width: 1240px;
  margin: 0 auto;
}

.logo {
  margin-left: 112px;
  margin-right: auto;
}
