.button {
  height: 56px;
  display: flex;
  align-items: center;
  border-radius: 40px;
  background-color: transparent;
  text-decoration: none;
  box-sizing: border-box;

  .icon {
    margin-right: 8px;
  }

  p {
    margin-left: 8px;
    color: #8585ad;
    &.primary {
      color: #f2f2f3;
    }
  }
}
