.button {
  height: 56px;
  display: flex;
  align-items: center;
  border-radius: 40px;
  background-color: transparent;
  text-decoration: none;
  box-sizing: border-box;
  border: 1px dashed #4c4cff;

  .icon {
    border: 1px dashed #4c4cff;
    margin-right: 8px;
  }

  p {
    border: 1px dashed #4c4cff;
    margin-left: 8px;
    color: #8585ad;
    &.primary {
      color: #f2f2f3;
    }
  }
}
