@import '../../styles/_variables.scss';

.button {
  height: 56px;
  display: flex;
  align-items: center;
  border-radius: 40px;
  background-color: transparent;
  text-decoration: none;
  box-sizing: border-box;

  .icon {
    margin-right: 8px;

    & > svg {
      fill: rgb(133, 133, 173);
    }
  }

  p {
    margin-left: 8px;
    color: rgb(133, 133, 173);
  }
}

.active {
  p {
    color: rgb(242, 242, 243);
  }

  .icon {
    margin-right: 8px;

    & > svg {
      fill: rgb(242, 242, 243);
    }
  }
}
